body {
	font-family: "Terminus", "Courier New", Courier;
	font-size: 10pt;
}

hr {
	display: block;
	margin-before: 0.5em;
	margin-after: 0.5em;
	margin-start: auto;
	margin-end: auto;
	border-style: inset;
	border-width: 1px;
}

.udl {
	border-bottom: 1px solid black;
}
