/* thanks tso */

@font-face {
	font-family: "Terminus-ttf";
	src: url("http://woodruffw.us/res/font/terminus.ttf") format("truetype");
}

hr {
	border-style: ridge;
	border-width: 1px;
	display: block;
}

.udl {
	border-bottom: 1px solid black;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Terminus", "Terminus-ttf", Courier;
	font-size: 10.5pt;
	text-align: justify;
	hyphens: auto;
	margin: auto;
	padding: 1em;
	max-width: 50em;
	box-shadow: 0 0 100px #eee;
	color: #333;
}

a {
	-moz-text-decoration-style: wavy;
	color: #0000BB;
}

a:hover {
	-moz-text-decoration-style: dotted;
}

